/* color */
:root {
  --color-font-base: #333;
  --color-font-white: #fffffe;
  --color-font-yellow: #dba52c;
  --color-bg-base: #fffffe;
  --color-bg-yellow: #dba52c;
  --color-bg-yellow-light: #f5e6c6;
  --color-black: #333;
  --color-white: #fffffe;
  --color-yellow: #dba52c;
  --color-box-shadow: #dba52c4d;
  --color-linear-gradient-radial: radial-gradient(
    54% 54% at 50% 50%,
    #734e30 0%,
    #725136 85.41%,
    rgba(219, 165, 44, 0) 85.42%
  );
  --color-linear-gradient-linear: linear-gradient(
    270deg,
    #734e30 0%,
    #d9d9d9 100%
  );

  /* font-family */

  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-title: "Grape Nuts", cursive;

  /* width-contents */

  --width-content-s: 920px;
  --width-content: 1080px;

  /* z-index */

  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-menu: 10;
  --z-index-default: 1;
}
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: var(--font-family-base);
}
body {
  font-size: 18px;
}
input {
  display: inline-block;
  margin-top: 1rem;
  border: 1px solid#333;
  border-radius: 2px;
}
input[type="checkbox"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  font-family: "Material Icons";
  content: url(../public/images/calendar_month_FILL0_wght400_GRAD0_opsz48.svg);
  z-index: 1;
}
input[type="checkbox"]:checked {
  content: url(../public/images/check_FILL0_wght400_GRAD0_opsz48.svg);
}
input[type="number"] {
  width: 50px;
  text-align: center;
}
output {
  display: inline-block;
  vertical-align: middle;
}
select {
  min-width: 50px;
  border: 1px solid var(--color-black);
  text-align: center;
}
label {
  display: inline-block;
  vertical-align: middle;
}
textarea {
  border: 1px solid var(--color-black);
  margin: 0 auto;
}
h1 {
  font-family: var(--font-family-title);
  font-size: 60px;
}
span {
  display: inline-block;
  margin-top: 1rem;
}
optgroup[label="High"] {
  background: #ff000033;
}
optgroup[label="Middle"] {
  background: #0000ff33;
}
optgroup[label="Low"] {
  background: #fff00033;
}
